<mat-toolbar>
  <button mat-button
          [matMenuTriggerFor]="sweetMenu">Sweet
  </button>
  <mat-menu #sweetMenu="matMenu">
    <button mat-menu-item routerLink="list-sweet">List sweets</button>
    <button mat-menu-item routerLink="edit-sweet">Create sweet</button>
  </mat-menu>

  <button mat-button
          [matMenuTriggerFor]="resellerMenu">Reseller
  </button>
  <mat-menu #resellerMenu="matMenu">
    <button mat-menu-item routerLink="list-reseller">List resellers</button>
    <button mat-menu-item routerLink="edit-reseller">Create reseller</button>
  </mat-menu>

  <app-logout></app-logout>
</mat-toolbar>

<router-outlet></router-outlet>
